<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>玉山綜合證券股份有限公司</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: lightpink; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script>

	</script>


</head>
<body>
	

	<main class="container-fluid bg-info text-white text-center">

		<nav>
			<h1><a href="https://www.1111.com.tw/job/97465274/" class="text-reset text-decoration-none text-white bg-warning" target="_blank" id="I">玉山綜合證券股份有限公司
 </a></h1>

			 <br>
		</nav>

	

		<div class="row">
			<session id="aboutme" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">公司資訊</header>
				<h3><font color="black">公司名：玉山綜合證券股份有限公司</font></h3>
				<h3><font color="black">地址:臺北市松山區松基里民生東路3段158號6樓</font></h3>
				<h3><font color="black">設立日期:2000-08-02</font></h3>

			</session>

			<article id="bookmark" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">職務類別</header> 
				<h3><font color="black">網路管理工程師</font></h3>
				<h3><font color="black">資訊威脅分析師</font></h3>
				
			</article>
			
			<aside id="youtube" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">工作內容/需求</header>
				<h3><font color="black">工作內容:</font></h3>
				<h3><font color="black">1.基礎維運(網路問題排除)</font></h3>
		        <h3><font color="black">2.熟悉監控系統軟體建置維護</font></h3>
				<h3><font color="black">學歷要求:</font></h3>
				<h3><font color="black">1.大學以上/資訊科學學門</font></h3>
				<h3><font color="black">2.具 CCNA 證照者佳</font></h3>
				<h3><font color="black">3.熟悉 Cisco Router Switch，Firewall (Pa、Cp、Juniper)，IPS，F5 WAF等相關網路設備規劃及維護管理</font></h3>
				<h3><font color="black">4. 熟悉Siem系統應用</font></h3>
			</aside>
		</div><br><br>
		
		<footer>
		
		</footer>
		
	</main>
</body>
</html>