<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<style type="text/css">
	</style>
</head>

<body background="1.jpg">
<font face="標楷體"><div align ="center"><h1>資管二B 411016953 呂政佑的求職相關資訊</h1>
		
        <tr>
		<td align ="center">
		<h2><a href="myself.html"target="_blank">我的個人簡介</a></h2><br>
        <h2><a href="classschedule.html"target="_blank">MIS相關工作介紹</a></h2><br>
		<h2><a href="www.html"target="_blank">職涯測驗結果</a></h2><br>
		<h2><a href="person.html"target="_blank">求職履歷自傳</a></h2><br>
		<body background ="1.jpeg">
		
		


	</table>		

</body>
</table>
