<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>呂政佑的基本介紹</title>

	<style type="text/css">
		* { 
			font-family: "標楷體"; }

		header { 
			font-size: 36px;
			color: lightpink; }

		.col-lg-4 {
			border: 1px solid; }

	</style>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<script>

	</script>


</head>
<body>
	

	<main class="container-fluid bg-info text-white text-center">

		<nav>
			<h1><a href="http://www1.pu.edu.tw/~s1090350/1" class="text-reset text-decoration-none text-white bg-warning" target="_blank" id="I">呂政佑 (Cheng-Yu Lu) </a></h1>
			<h2><a href="https://www.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="PU">靜宜大學</a>
			 / <a href="https://csim.pu.edu.tw/" class="text-reset text-decoration-none text-white bg-info" id="CSIM">資訊管理學系</a></h2>
			 <br>
		</nav>

		<img src="2.jpg" alt="照片" width="300" id="PICTURE"> 
		<br><br><br>

		<div class="row">
			<session id="aboutme" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">關於我</header>
				<h3><font color="black">系級：</font>資訊管理學系大二B班</h3>
				<h3><font color="black">學號:</font> 411016953</h3>
				<h3><font color="black">Mail:</font> s1101695@gm.pu.edu.tw</h3>

			</session>

			<article id="bookmark" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">座右銘</header> 
				<h3>If you don’t like something, change it </h3>
				<h3>if you can’t change it</h3>
				<h3>change the way you think about it.</h3>
				<h3>如果你不喜歡某件事情，那就改變它</h3>
				<h3>如果你無法改變它，那麼就改變你對這件事情的看法。</h3>
			</article>
			
			<aside id="youtube" class="col-lg-4">
				<header><a class="text-reset text-decoration-none bg-white">我的家鄉:新竹</header>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.youtube.com/embed/d5WhP5nYEp4" allowfullscreen></iframe>
				</div>
			</aside>
		</div><br><br>
		
		<footer>
		
		</footer>
		
	</main>
</body>
</html>