<!DOCTYPE html>
<html lang ="zh_TW">
<head>
<meta charset="UTF-8">
 <title>myself</title>

</head>
<center>
<h1 align="center">個人自傳</h1>
<table border="1" align ="center" style = "table-layout:fixed" width = "70%">
        <tr>
        <td colspan="3" align ="center"><img src="3.jpg" width="30%">
<br>姓名:呂政佑<br>
<strong>生日:2002/11/15</strong><br>
<u>星座:天蠍座</u><br>
</p>
<hr>
<p align="center">
<b>興趣:</b><br>
跑步、看書、打籃球<br>
<b>教育背景:</b><br>
<em>新竹市立新竹國小->新竹市育賢國中->新竹市磐石高級中學->台中私立靜宜大學</em><br>
<b>未來展望</b><br>
在畢業前多益拿到700分，且通過畢業門檻，必修課也要全通過。由於沒有甚麼寫程式經驗，所以學起來比別人還要刻苦，但相信只要每天練習至少一題，一定有所改變。<br>
另外這學期有參加<b>黑客松</b>比賽，所以在團隊的合作上，要擔任好自己的角色，不要拖累組員。相信比賽結束後會很大的收穫。<br>
未來我還會參與各種大大小小的比賽來增加我的參賽經驗，並且學習別人的優點，改善自己的不足。<br>


</body>
